@import '@fontsource/roboto-mono';
@import '@fontsource/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		font-family: theme('fontFamily.sans');
	}
	code {
		font-family: theme('fontFamily.mono');
		font-weight: 400;
		background-color: theme('colors.green.50');
		border-radius: theme('borderRadius.DEFAULT');
		padding-inline: theme('padding.1');
		user-select: all;
		&::before,
		&::after {
			display: none;
		}
	}
	pre {
		border: 1px solid theme('colors.gray.200');
		background-color: theme('colors.gray.50') !important;
		& > code {
			user-select: auto;
		}
	}
	h1 {
		font-size: theme('fontSize.h1');
	}
	h2 {
		font-size: theme('fontSize.h2');
	}
	h3 {
		font-size: theme('fontSize.h3');
	}
	h4 {
		font-size: theme('fontSize.h4');
	}
	h5 {
		font-size: theme('fontSize.h5');
	}
	h6 {
		font-size: theme('fontSize.h6');
	}
	p {
		font-size: theme('fontSize.p');
	}
}
